*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 95%;
    margin-top: 2%;
    margin-left: 5%;
}
table{
    border-collapse: collapse;
    width: 100%;
   
}
td{
    padding-left: 5px;
    height: 20px;
}
.last-column{
    padding-left: 20px;
}
.left-table{
    border-bottom: 1px solid black;
    border-style: dashed;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 0px;
}